label {
    font-family: "Roboto", sans-serif;
    margin-top: 2em;
    font-weight: 500;
    font-size: 18px;
    color:#003049;
}

input#firstName:focus:invalid,
input#lastName:focus:invalid,
input#email:focus:invalid {
border: solid #EC8997 3px;
}

input#firstName:focus:valid,
input#lastName:focus:valid,
input#email:focus:valid {
border: solid #a1c181 3px;

}

.button {
    border: none;
    font-family: "Roboto", sans-serif;
    margin-top: 2em;
    background-color: #EC8997;
    color: #eff0f4;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.25s ease;
    
}

.button:hover {
    background-color: #eff0f4;
    color: #EC8997;
    border: 2px solid #EC8997;
    transform: translateY(-2px);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}


/* body image */
.contact img {
    width: 100%;
    height: 600px;
    overflow: hidden;
    border-radius: 50px;
   
}

.ALPFA {
object-fit: contain;
}